In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
import json
import requests
from urllib.parse import urlparse

df = pd.read_csv('/content/drive/My Drive/elice_miniProject/starbucks_seoul.csv', encoding="cp949")

In [ ]:
df.head()

   Unnamed: 0           지점명                          지점주소
0           0     스타벅스 강남R점               서울 강남구 강남대로 390
1           1  스타벅스 파미에파크R점  서울 서초구 사평대로 205 센트럴시티 파미에파크돔
2           2    스타벅스 공릉DT점               서울 노원구 동일로 1015
3           3   스타벅스 청담스타R점             서울 강남구 도산대로57길 24
4           4    스타벅스 더종로R점                  서울 종로구 종로 51

In [ ]:
del df['Unnamed: 0']

In [ ]:
## y,x열 추가

df['y'] = 0
df['x'] = 0

In [ ]:
df.loc[0][1]

'서울 강남구 강남대로 390'

In [ ]:
d = []

for i in range(len(df['지점명'])):
  adress = df.loc[i][1]
  url = "https://dapi.kakao.com/v2/local/search/address.json?&query="+adress
  result = requests.get(urlparse(url).geturl(), headers={"authorization":"KakaoAK 2e021e0dbc0637b7c8a74be86c202a11"})
  url_text = result.json()
  try:
    ## 주소가 있는 경우 값 추가
    df['y'][i] = url_text['documents'][0]['y']
    df['x'][i] = url_text['documents'][0]['x']
  except:
    ## 주소를 구할 수  없는 경우 행 번호 수집
    d.append(i)
    print(d)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

[7]
[7, 96]
[7, 96, 109]
[7, 96, 109, 146]
[7, 96, 109, 146, 157]
[7, 96, 109, 146, 157, 167]
[7, 96, 109, 146, 157, 167, 168]
[7, 96, 109, 146, 157, 167, 168, 172]
[7, 96, 109, 146, 157, 167, 168, 172, 178]
[7, 96, 109, 146, 157, 167, 168, 172, 178, 187]
[7, 96, 109, 146, 157, 167, 168, 172, 178, 187, 190]
[7, 96, 109, 146, 157, 167, 168, 172, 178, 187, 190, 199]
[7, 96, 109, 146, 157, 167, 168, 172, 178, 187, 190, 199, 218]
[7, 96, 109, 146, 157, 167, 168, 172, 178, 187, 190, 199, 218, 237]
[7, 96, 109, 146, 157, 167, 168, 172, 178, 187, 190, 199, 218, 237, 257]
[7, 96, 109, 146, 157, 167, 168, 172, 178, 187, 190, 199, 218, 237, 257, 283]
[7, 96, 109, 146, 157, 167, 168, 172, 178, 187, 190, 199, 218, 237, 257, 283, 298]
[7, 96, 109, 146, 157, 167, 168, 172, 178, 187, 190, 199, 218, 237, 257, 283, 298, 323]
[7, 96, 109, 146, 157, 167, 168, 172, 178, 187, 190, 199, 218, 237, 257, 283, 298, 323, 403]
[7, 96, 109, 146, 157, 167, 168, 172, 178, 187, 190, 199, 218, 237, 257, 283, 298, 323, 403, 422]
[7, 96, 109, 146, 157, 167, 168, 172, 178, 187, 190, 199, 218, 237, 257, 283, 298, 323, 403, 422, 446]
[7, 96, 109, 146, 157, 167, 168, 172, 178, 187, 190, 199, 218, 237, 257, 283, 298, 323, 403, 422, 446, 460]
[7, 96, 109, 146, 157, 167, 168, 172, 178, 187, 190, 199, 218, 237, 257, 283, 298, 323, 403, 422, 446, 460, 470]

In [ ]:
## 숫자가 큰 순서의 행 부터 삭제
## 작은 순으로 삭제하면 행의 길이가 바뀌기 때문에 귀찮아짐
d.sort(reverse=True)

for i in d:
  df = df.drop(index=i)

df = df.reset_index(drop=True, inplace=False)
df

               지점명  ...                 x
0        스타벅스 강남R점  ...  127.028578846319
1     스타벅스 파미에파크R점  ...  127.007845270854
2       스타벅스 공릉DT점  ...  127.074220863167
3      스타벅스 청담스타R점  ...  127.041837238386
4       스타벅스 더종로R점  ...  126.983611410428
..             ...  ...               ...
472    스타벅스 타임스퀘어점  ...  126.903715993779
473      스타벅스 소공로점  ...  126.980774234134
474   스타벅스 순화동에이스점  ...  126.969222436022
475  스타벅스 을지로국제빌딩점  ...  126.982247152887
476    스타벅스 명동메트로점  ...  126.983730468109

[477 rows x 4 columns]

In [ ]:
## 매장명 마지막 점검
c = [] 
for i in range(len(df['지점명'])):
  a = df['지점명'][i].split()[0]
  if a != '스타벅스':
    c.append(i)
print(c)

[]

In [ ]:
df = df.drop(index=i)
df = df.reset_index(drop=True, inplace=False)
df

              지점명  ...                 x
0       스타벅스 강남R점  ...  127.028578846319
1    스타벅스 파미에파크R점  ...  127.007845270854
2      스타벅스 공릉DT점  ...  127.074220863167
3     스타벅스 청담스타R점  ...  127.041837238386
4      스타벅스 더종로R점  ...  126.983611410428
..            ...  ...               ...
470   스타벅스 순화동더샵점  ...  126.972035325682
471     스타벅스 포스코점  ...  127.057946040574
472   스타벅스 타임스퀘어점  ...  126.903715993779
473     스타벅스 소공로점  ...  126.980774234134
474  스타벅스 순화동에이스점  ...  126.969222436022

[475 rows x 4 columns]

In [ ]:
df.to_csv('/content/drive/My Drive/elice_miniProject/starbucks_seoul.csv',index=False,encoding='utf-8')