<a href="https://colab.research.google.com/github/lumpenop/miniProject_masl/blob/main/find__public_tansport.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install haversine

Collecting haversine
  Downloading https://files.pythonhosted.org/packages/f4/52/a13286844780c7b1740edbbee8a8f0524e2a6d51c068b59dda39a6a119f5/haversine-2.3.0-py2.py3-none-any.whl
Installing collected packages: haversine
Successfully installed haversine-2.3.0

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [32]:
from haversine import haversine ## 좌표로 거리 구하기 300m

In [33]:
haversine((127.0016985,37.5642135), (127.0016985,37.5686963), unit = 'km')

0.29999571050047735

In [34]:
xx = 0.0044966
yy = 0.0074714

In [35]:
def square(x,y):
  s_list = []
  xx = 0.0044966
  yy = 0.0074714
  s_list.append([x-xx,y])
  s_list.append([x+xx,y])
  s_list.append([x,y-yy])
  s_list.append([x,y+yy])
  return s_list

In [36]:
square(127.0016985,37.5642135)

[[126.99720190000001, 37.5642135],
 [127.0061951, 37.5642135],
 [127.0016985, 37.5567421],
 [127.0016985, 37.5716849]]

In [37]:
import pandas as pd
df = pd.read_csv('/content/drive/My Drive/elice_miniProject/metro_station_seoul.csv', encoding="cp949")

In [38]:
df

     Unnamed: 0 metro_station_name  ... metro_geo_lat  metro_geo_lng
0             0            강남역 2호선  ...     37.498165     127.028308
1             1         서울대입구역 2호선  ...     37.481153     126.952645
2             2            합정역 2호선  ...     37.550115     126.914638
3             3           왕십리역 2호선  ...     37.561222     127.036655
4             4            당산역 2호선  ...     37.534957     126.902731
..          ...                ...  ...           ...            ...
439         439            신당역 6호선  ...     37.566274     127.016154
440         440            상봉역 경춘선  ...     37.596714     127.085437
441         441        강남구청역 수인분당선  ...     37.517189     127.041301
442         442           신설동역 2호선  ...     37.575319     127.024702
443         443        솔밭공원역 우이신설선  ...     37.656155     127.013092

[444 rows x 5 columns]

In [39]:
del df['Unnamed: 0']

In [40]:
df['station_num'] = ''

In [41]:
de = []
for i in range(len(df['metro_station_name'])):
  try:
    df['station_num'][i]=df['metro_station_name'][i].split()[1]
    df['metro_station_name'][i]=df['metro_station_name'][i].split()[0]
  except:
    de.append(i)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [42]:
print(de)

[254, 320, 354, 392, 426]

In [43]:
de.sort(reverse=True)
de

[426, 392, 354, 320, 254]

In [44]:
for i in range(len(de)):
  df.drop(df.index[i],inplace=True)

In [45]:
df

    metro_station_name    metro_station_addr  ...  metro_geo_lng  station_num
1               서울대입구역  서울 관악구 남부순환로 지하 1822  ...     126.952645          2호선
3                 왕십리역    서울 성동구 왕십리로 지하 300  ...     127.036655          2호선
5                  신촌역      서울 마포구 신촌로 지하 90  ...     126.936119          2호선
7                  신림역  서울 관악구 남부순환로 지하 1614  ...     126.929803          2호선
9                  교대역    서울 서초구 서초대로 지하 294  ...     127.014156          3호선
..                 ...                   ...  ...            ...          ...
439                신당역      서울 중구 다산로 지하 260  ...     127.016154          6호선
440                상봉역        서울 중랑구 망우로 297  ...     127.085437          경춘선
441              강남구청역     서울 강남구 학동로 지하 346  ...     127.041301        수인분당선
442               신설동역      서울 동대문구 왕산로 지하 1  ...     127.024702          2호선
443              솔밭공원역        서울 강북구 삼양로 595  ...     127.013092        우이신설선

[439 rows x 5 columns]

In [65]:
df = df.sort_values(by=["metro_geo_lng", "metro_geo_lat"], ascending=[True, True]) 
df

    metro_station_name  metro_station_addr  ...  metro_geo_lng  station_num
345                개화역    서울 강서구 개화동로8길 19  ...     126.798211          9호선
276              김포공항역    서울 강서구 하늘길 지하 77  ...     126.801570          9호선
277              김포공항역    서울 강서구 하늘길 지하 77  ...     126.801570         공항철도
278              김포공항역    서울 강서구 하늘길 지하 77  ...     126.801570          5호선
279              김포공항역    서울 강서구 하늘길 지하 77  ...     126.801570         공항철도
..                 ...                 ...  ...            ...          ...
235                고덕역   서울 강동구 고덕로 지하 253  ...     127.153949          5호선
314          고덕지하철차량기지     서울 강동구 고덕동 10-4  ...     127.164366
315          고덕지하철차량기지     서울 강동구 고덕동 10-4  ...     127.164366
242               상일동역   서울 강동구 고덕로 지하 359  ...     127.165829          5호선
241     강일역(2021년3월예정)  서울 강동구 강일동 산 22-14  ...     127.176216

[439 rows x 5 columns]

In [66]:
df.reset_index(drop=True, inplace=True)
df

    metro_station_name  metro_station_addr  ...  metro_geo_lng  station_num
0                  개화역    서울 강서구 개화동로8길 19  ...     126.798211          9호선
1                김포공항역    서울 강서구 하늘길 지하 77  ...     126.801570          9호선
2                김포공항역    서울 강서구 하늘길 지하 77  ...     126.801570         공항철도
3                김포공항역    서울 강서구 하늘길 지하 77  ...     126.801570          5호선
4                김포공항역    서울 강서구 하늘길 지하 77  ...     126.801570         공항철도
..                 ...                 ...  ...            ...          ...
434                고덕역   서울 강동구 고덕로 지하 253  ...     127.153949          5호선
435          고덕지하철차량기지     서울 강동구 고덕동 10-4  ...     127.164366
436          고덕지하철차량기지     서울 강동구 고덕동 10-4  ...     127.164366
437               상일동역   서울 강동구 고덕로 지하 359  ...     127.165829          5호선
438     강일역(2021년3월예정)  서울 강동구 강일동 산 22-14  ...     127.176216

[439 rows x 5 columns]

In [89]:
metro = {}

for i in range(len(df['metro_station_name'])):
  if df['station_num'][i] in metro:
    a = {i:[df['metro_station_name'][i],(df['metro_geo_lng'][i],df['metro_geo_lat'][i])]}
    metro[df['station_num'][i]].append(a)
  else:
    a = {i:[df['metro_station_name'][i],(df['metro_geo_lng'][i],df['metro_geo_lat'][i])]}
    metro[df['station_num'][i]]=[a]

['까치산역', (126.846611592059, 37.531956084774606)]

In [55]:
a = square(metro['2호선'][0]['사당역'][0],metro['2호선'][0]['사당역'][1])
a

[[126.976912309449, 37.476522834761894],
 [126.985905509449, 37.476522834761894],
 [126.981408909449, 37.469051434761894],
 [126.981408909449, 37.483994234761894]]

In [56]:
a[0]

[126.976912309449, 37.476522834761894]

In [57]:
station = []
for i in range(len(df['metro_station_name'])):
  if df['metro_geo_lng'][i] >= a[0][0] and df['metro_geo_lng'][i] < a[1][0] and df['metro_geo_lat'][i] >= a[2][1] and df['metro_geo_lat'][i] < a[3][1]:
    station.append(i)

In [58]:
station

[6, 7]

In [59]:
for i in station:
  if haversine((df['metro_geo_lng'][i],df['metro_geo_lat'][i]), (metro['2호선'][0]['사당역'][0],metro['2호선'][0]['사당역'][1]), unit = 'km') <= 0.5:
    print(i)

6
7

In [62]:
def round500(x,y):
  box = square(x,y)
  station = []
  left_x = box[0][0]
  right_x = box[1][0]
  low_y = box[2][1]
  hight_y = box[3][1]
  result = []
  
  for i in range(len(df['metro_station_name'])):
    if df['metro_geo_lng'][i] >=  right_x:
      break
    if df['metro_geo_lng'][i] >= left_x and df['metro_geo_lng'][i] < right_x  and df['metro_geo_lat'][i] >= low_y and df['metro_geo_lat'][i] < hight_y:
      station.append(i)
  
  for i in station:
    if haversine((df['metro_geo_lng'][i],df['metro_geo_lat'][i]), (x, y), unit = 'km') <= 0.5:
      result.append(i)
  return result

In [67]:
round500(metro['2호선'][0]['사당역'][0],metro['2호선'][0]['사당역'][1])

[161, 162]

In [71]:
df['metro_station_name'][161]

'사당역'

In [87]:
metro[df['station_num'][161]][0].keys()

dict_keys(['사당역'])

In [80]:
for i in range(len(metro[df['station_num'][161]])):
  print(square(metro[df['station_num'][161]][i][0],metro[df['station_num'][161]][i][1]))

KeyError: ignored

In [84]:
metro[df['station_num'][161]][i]

{'사당역': (126.981408909449, 37.476522834761894)}